<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>jpa-2.2</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="8181"
                  httpsPort="8543"/>

    <webApplication location="${project.name}.war" contextRoot="/"/>
    <mpMetrics authentication="false"/>

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />


    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="${jwt.issuer}"/>

    <cors domain="/api"
          allowedOrigins="*"
          allowedMethods="GET, POST"
          maxAge="10"/>

    <dataSource jndiName="jdbc/reports">
        <jdbcDriver libraryRef="PostgresLib" />
        <properties.postgresql serverName="localhost"
                               portNumber="5432"
                               databaseName="reports"
                               user="reports"
                               password="MriwKRj83XVYwzM2"/>
    </dataSource>

    <library id="PostgresLib">
        <fileset dir="${server.config.dir}/lib"
                 includes="postgresql-42.2.9.jar"/>
    </library>
</server>
